<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>

<body>

    <div id="app">

        <div class="flex justify-center items-center h-screen bg-gray-100 bg-[url('https://i.pinimg.com/1200x/23/b6/e4/23b6e454fc8687c62acfc1fbaaa646f6.jpg')] bg-cover bg-center">
            <div>
                <div class="flex-col">

                    <h1 v-if="message" class="text-2xl text-white font-semibold text-center m-10 font-mono">{{message}}
                    </h1>

                    <div class="grid grid-cols-3 rounded-2xl bg-rose-500">

                        <div v-for="(row, rowIndex) in boardCells" :key="rowIndex">

                            <div v-for="(cell, colIndex) in row" :key="colIndex"
                                class="flex justify-center items-center text-5xl lg:text-7xl font-semibold w-20 h-20 lg:w-25 lg:h-25 m-2 lg:m-4 rounded-lg bg-yellow-50 hover:bg-yellow-200 hover:scale-105 cursor-pointer duration-100"
                                @click="cellClick(rowIndex, colIndex)" :class="{'text-red-500': cell === 'X',
                                        'text-lime-500': cell === 'O', 
                                        'cursor-not-allowed': cell !== '' || winner}">

                                {{cell}}
                            </div>
                        </div>

                    </div>

                    <div class="flex justify-center items-center">
                        <button @click="restartGame"
                            class="bg-emerald-300 px-3 py-2 lg:px-5 lg:py-3 text-xl rounded-lg hover:bg-emerald-500 hover:text-white cursor-pointer mt-10 hover:scale-105 duration-100">Restart</button>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <script>
        Vue.createApp({
            data() {
                return {
                    boardCells: [
                        ["", "", ""],
                        ["", "", ""],
                        ["", "", ""],

                    ],

                    message: "Let's start!",
                    currentPlayer: 'X',
                    winner: null,

                }
            },
            methods: {

                cellClick(row, col) {
                    if (this.boardCells[row][col] !== "" || this.winner) {
                        return;
                    }

                    this.boardCells[row][col] = this.currentPlayer;

                    if (this.isWinner(this.currentPlayer)) {
                        this.winner = this.currentPlayer;
                        this.message = `Player ${this.winner} win!`;

                    }
                    
                    else if (this.isDraw(this.currentPlayer)) {
                        this.message = `Draw!`;
                    }

                    else {
                        this.currentPlayer = this.currentPlayer === 'X' ? 'O' : 'X';
                        this.message = `Player ${this.currentPlayer}'s Turn`;

                    }
                },

                isWinner(user) {
                    // row
                    for (let row = 0; row < this.boardCells.length; row++) {
                        if (this.boardCells[row][0] == user
                            && this.boardCells[row][1] == user
                            && this.boardCells[row][2] == user) {
                            return true;
                        }
                    }
                    // col
                    for (let col = 0; col < this.boardCells.length; col++) {
                        if (this.boardCells[0][col] == user
                            && this.boardCells[1][col] == user
                            && this.boardCells[2][col] == user) {
                            return true;
                        }
                    }
                    // diagonal
                    if (this.boardCells[0][0] == user
                        && this.boardCells[1][1] == user
                        && this.boardCells[2][2] == user) {
                        return true;
                    }

                    if (this.boardCells[0][2] == user
                        && this.boardCells[1][1] == user
                        & this.boardCells[2][0] == user) {
                        return true;
                    }
                    return false;


                },

                restartGame() {

                    this.boardCells = [
                        ["", "", ""],
                        ["", "", ""],
                        ["", "", ""],

                    ];

                    this.currentPlayer = 'X';
                    this.winner = null;
                    this.message = "Player X's Turn";

                },

                isDraw() {
                    for (let row = 0; row < 3; row++) {
                        for (let col = 0; col < 3; col++) {
                            if (this.boardCells[row][col] === '') {
                                return false;
                            }
                        }
                    }
                    return true;
                }

            }
        }).mount('#app');
    </script>
</body>

</html>